.login-form{
  max-width: 368px;
  width: 60%;
  margin: 0 auto;
  color: red;
}
.login-form-name{
  margin: 10rem 0;
  height: 2rem;
  font-size: 1rem;
}
.login-form-button{
  height: 2rem;
  font-size: 1rem;
}