.header-row{
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  max-width: 768px;
  margin: 0 auto;
  padding: .5rem 2rem;
  text-align: center;
  font-size: 1rem;
  background-color: #001529;
  color: #fff;
}
.header-col-1{
  text-align: left;
}
.header-col-1 a{
  color: #fff;
}
.header-col-2{
  text-align: center;
}
.header-col-3{
  text-align: right;
}
.footer-row{
  position: fixed;
  bottom:0px;
  left: 0;
  right: 0;
  max-width: 768px;
  margin: 0 auto;
  padding: .2rem .1rem;
  background-color: #f0f0f0;
}
.footer-row input{
  width: 75%;
  margin: 0 .2rem;
}
.footer-row button{
  width: 20%;
  margin: 0 .2rem;
}
.content-row{
  padding: .5rem .1rem 2rem .1rem;
  background-color: #fff;
  overflow: auto;
  width: 100%;
  height: 100%;
  margin-top: 2.2rem;
}
.content-row > ul{
  padding: 0;
  margin: 0;
}
.content-li{
  list-style: none;
  margin: 5px;
  font-size: 1rem;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #dedede;
  word-break: break-all;
}
.li-info{
  color: #0850ad;
  text-align: center;
}
.li-warning{
  color: #b95d1f;
  text-align: center;
}
.li-msg{
  color: #000
}
